%h1.underlined
  Закладки

%table.table
  %tr
    %th Пользователь
    %th Товар
    %th Действия

  - @bookmarks.each do |bookmark|
    %tr
      %td= bookmark.user_id
      %td= link_to_product Product.find(bookmark.product_id)
      %td
        = link_to 'Показать', bookmark
        = link_to 'Правка', edit_bookmark_path(bookmark)
        = link_to "×", bookmark, :method => :delete, :data => { :confirm => 'Уверены?' }
