.container
  %h1 Контакты

  %p
    Россия, г.Санкт-Петербург, ул. Коммуны, д.67
  %p
    Отдел «живого» товара тел. +7 (812) 449-79-26, +7 (901) 317-17-87
  %p
    Отдел «не живого» товара тел. +7(812)319-1776
  %p
    e-mail: mail@spbfish.ru

  #feedback
    = form_tag contacts_path, class: 'centered-form form-horizontal' do
      %h3 Отправить нам сообщение
      .field.required
        = label_tag 'feedback_email', 'Электронная почта', class: 'col-sm-3 control-label'
        .col-sm-9= email_field_tag 'feedback[email]', current_user.try(:email), placeholder: 'mail@example.com', required: true
      .field.required
        = label_tag 'feedback_subject', 'Тема', class: 'col-sm-3 control-label'
        .col-sm-9= text_field_tag 'feedback[subject]', (flash[:url] ? "[Ошибка] Не найдена страница #{flash[:url]}" : nil), required: true
      .col-sm-12
        .field.required= text_area_tag 'feedback[body]', (flash[:url] ? "Не найдена страница #{flash[:url]}" : nil), rows: 4, placeholder: 'Ваше сообщение', required: true
      .submit.right
        = submit_tag 'Отправить'