%html
  %head
    %meta{:content => "text/html; charset=utf-8"}/ 
    %link{:rel => "stylesheet", :type => "text/css", :href => "emails.css.scss"}/

  %body.email
    %p= 'Пользователь ' + @order.name + ' сделал заказ на сайте'

    %strong Номер заказа:
    = @order.id

    %p Он заказал следующие товары:

    = render 'order_table'

    %table
      %tr
        %td
          %strong Адрес доставки:
        %td= @order.address
      %tr
        %td
          %strong Тип расчёта:
        %td= @order.pay_type
      %tr
        %td
          %strong Телефон:
        %td= @order.phone_number
      %tr
        %td
          %strong Комментарий:
        %td= @order.comment

    %p
      = link_to "Подтвердить заказ", orders_url

    %p
      %strong Ссылка на заказ:
      %br
        = link_to order_url(@order, t: @order.token), order_url(@order, t: @order.token)