%html
  %head
    %title Уведомление о заказе
    %meta{:content => "text/html; charset=utf-8"}/ 
    %link{:rel => "stylesheet", :type => "text/css", :href => "emails.css.scss"}/ 

  %body.email
    %p= "Здравствуйте, #{@order.name}!"

    %p Ваш заказ получен и скоро с вами свяжется сотрудник из нашей компании.

    %p Вы заказали следующие товары:

    = render 'order_table'

    %p
      %strong Комментарий:
      %br/ 
      = @order.comment

    %p Как только товар будет готов к отгрузке вы получите ещё одно письмо.
    %b Добавить:
    %p &nbsp;&nbsp;Информация о стоимости доставки
    %p &nbsp;&nbsp;Информация о доставке
    %p &nbsp;&nbsp;Информация о дате доставки

    Ссылка на ваш заказ:

    = link_to order_url(@order, t: @order.token), order_url(@order, t: @order.token)

    %p 
      \--
      %br/ 
      FishMarkt
      %br/ 
      +7 (800) 700-16-58
      %br/
      +7 (812) 449-79-27 
      %br/ 