%html
  %head
    %title Уведомление о заказе
    %meta{:content => "text/html; charset=utf-8"}/ 
    %link{:rel => "stylesheet", :type => "text/css", :href => "emails.css.scss"}/ 

  %body.email
    %p= "Здравствуйте, #{@order.name}!"

    %p Ваш заказ получен и скоро с вами свяжется сотрудник из нашей компании.

    %p Вы заказали следующие товары:

    %table.order{style: 'font-family: "Lucida Console", Monaco, monospace'}
      %thead 
        %tr
          %th Название
          %th Кол-во
          %th Сумма
      %tbody 
        - @order.line_items.each do |line_item|
          %tr
            %td= line_item.product.long_name
            %td.quantity.right= line_item.quantity
            %td.price.right= number_to_currency(line_item.total_price)
      %tfoot 
        %tr.bold
          %td{ :colspan => 2 } Итого
          %td.right= number_to_currency(@total_price)

    %p Как только товар будет готов к отгрузке вы получите ещё одно письмо.
    %b Добавить:
    %p &nbsp;&nbsp;Информация о стоимости доставки
    %p &nbsp;&nbsp;Информация о дате доставки


    Ссылка на ваш заказ:

    %a{href: order_url(@order)}= order_url(@order)

    %p 
      \--
      %br/ 
      FISHmarkt
      Телефоны
      И другие реквизиты