%html
  %head
    %meta{:content => "text/html; charset=utf-8"}/ 
    %link{:rel => "stylesheet", :type => "text/css", :href => "emails.css.scss"}/

  %body.email
    %p= 'Пользователь ' + @order.name + ' обновил параметры заказа на сайте'

    %strong Номер заказа:
    = @order.id

    %p
      = @old.size
      = @order.line_items.size

    %p Он заказал следующие товары:

    = render 'order_table'

    %p
      %strong Адрес доставки:
      %br/
      = @order.address
    %p
      %strong Телефон:
      %br/
      = @order.phone_number
    %p
      %strong Комментарий:
      %br/
      = @order.comment
    %p
      %strong Ссылка на заказ:
      %br/
      = link_to order_url(@order, t: @order.token), order_url(@order, t: @order.token)