.container-fluid
  .row
    .col-lg-2.col-md-3.col-sm-3#side
      = render 'shared/menu_side'
      - if @products
        #filters
          = render 'shared/filter'
    .col-lg-10.col-md-9.col-sm-9#main
      - @page_title = @group.title
      %h1.underlined= @group.title# + (', Страница: ' + params[:page].to_s if params[:page]).to_s

      = render 'children'
      
      .control
        = render 'shared/control'

      #product_index
        = render 'store/product_index'

      #loading
        #notification
          = image_tag 'loading.gif', alt: 'loading', id: 'loading_gif'
          %p Идёт загрузка, пожалуйста подождите