%h1 Список пользователей

- if notice
  %p#notice= notice

%table
  %tr
    %th Имя
    %th Действия

  - @users.each do |user|
    %tr
      %td= user.name
      %td
        = link_to 'Показать', user
        %br
        = link_to 'Изменить', edit_user_path(user)
        %br
        = link_to 'Удалить', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=# link_to 'New User', new_user_path
