%h1.underlined
  Список пользователей
  = link_to 'Пакетное создание пользователей', batch_create_path

%table.table
  %thead
    %tr
      %th Дата регистрации
      %th Имя
      %th email
      %th Группы
      %th Действия
  %tbody
    - @users.each do |user|
      %tr
        %td= user.created_at
        %td= user.information.try :name
        %td= user.email
        %td
          %table
            - user.roles.each do |role|
              %tr
                %td= t(".#{role.name}")
        %td
          = link_to 'Профиль', user_path(id: user)
          %br
          = link_to 'Удалить', users_path(id: user), :method => :delete, :data => { :confirm => 'Вы действительно хотите удалить пользователя?' }

=# link_to 'New User', new_user_path
