%h1 Список пользователей

%table
  %tr
    %th Имя
    %th email
    %th Действия

  - @users.each do |user|
    %tr
      %td= user.login
      %td= user.email
      %td
        = link_to 'Показать', user_root_path(user)
        %br
        = link_to 'Изменить', profile_edit_path(user)
        %br
        = link_to 'Удалить', users_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=# link_to 'New User', new_user_path
