- if flash[:warning]
  .alert.alert-warning.alert-dismissable
    %button.close{type: 'button', data: {dismiss: 'alert'}, "aria-hidden" => 'true'} &times;
    = flash[:warning]
%h1.underlined
  = "Привет, #{@user.information.try(:name).presence || @user.email}!" # greeting < users_helper.rb
  = link_to 'Редактировать профиль', profile_edit_path
%h3 Текущие заказы
- if @user.all_orders.active.any?
  %table.table.table-striped.table-hover
    %thead 
      %tr 
        %th.center Номер
        %th.center Дата
        %th.center Товары
        %th.center Сумма
        %th.center Статус
    %tbody
      - @user.all_orders.active.each do |order|
        %tr
          = render order
          %td.right= link_to "×", cancel_order_path(order), data: { :confirm => 'Вы уверены что хотите отменить заказ?' }, class: 'bold btn btn-link btn-lg' unless order.closed?
- else
  У Вас нет активных заказов.

%hr/ 

%h3 История заказов
- if @user.all_orders.closed.any?
  %table.history.table.table-striped.table-hover
    %thead 
      %tr 
        %th.center Номер
        %th.center Дата
        %th.center Товары
        %th.center Сумма
        %th.center Статус
    %tbody 
      - @user.all_orders.closed.each do |order|
        %tr 
          = render order
- else
  История Ваших заказов пуста.
