- user = @user || current_user
%h3
  = "Привет, #{user.information.name.presence || user.email}!" # greeting < users_helper.rb
  .btn.btn-default= link_to 'Редактировать профиль', profile_edit_path
%h2 Заказы
- if user.all_orders.active.any?
  %table.table.table-striped.table-hover
    %thead 
      %tr 
        %th Номер
        %th Дата
        %th Сумма
    - user.all_orders.active.each do |order|
      %tr 
        %td= order.id
        %td= link_to order.created_at, order
        %td.bold.right= number_to_currency order.total_price
- else
  У Вас нет активных заказов.

%hr/ 

%h2 История заказов
- if user.all_orders.closed.any?
  %table.history.table
    %thead 
      %tr 
        %th Заказ
        %th Товары
        %th Дата
        %th Сумма
    %tbody 
      - user.all_orders.closed.each do |order|
        %tr{valign: 'top'}
          %td= link_to order.id, order
          %td
            %table 
              - order.line_items.each do |item|
                %tr 
                  %td.right= "#{item.quantity} x"
                  %td= link_to item.product.title, item.product
          %td= l(order.created_at, format: :long)
          %td.right= number_to_currency order.total_price
- else
  История Ваших заказов пуста.
