%h1.underlined
  = "Привет, #{@user.information.try(:name).presence || @user.email}!" # greeting < users_helper.rb
  = link_to 'Редактировать профиль', profile_edit_path
  = link_to "Мои подписки", mailers_path
%table.table.table-striped.table-hover
  %thead
    %tr
      %th{colspan: 6}
        %h3 Текущие заказы

    %thead
      %tr 
        %th.center Номер
        %th.center Дата
        %th.center Товары
        %th.center Сумма
        %th.center Статус
        %th
    %tbody.active
      - if (active_orders = @user.all_orders.active).any?
        - active_orders.each do |order|
          %tr{class: "#{order.id}order active"}
            = render order

      - else
        %tr.none
          %td{colspan: 6} У вас нет активных заказов.

  %thead
    %tr
      %th{colspan: 6}
        %h3 История заказов

    %thead
      %tr
        %th.center Номер
        %th.center Дата
        %th.center Товары
        %th.center Сумма
        %th.center Статус
        %th
    %tbody.inactive
      - if (inactive_orders = @user.all_orders.inactive).any?
        - inactive_orders.each do |order|
          %tr{class: "#{order.id}order inactive"}
            = render order

      - else
        %tr.none
          %td{colspan: 6} У вас нет заказов в истории.
