.authform.well.well-lg
  %h3 Изменить пароль
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token

    .form-group
      = f.label :password
      = f.password_field :password, :autofocus => true

    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    .form-group
      = f.submit "Изменить пароль"

  = render "devise/shared/links"
