%h4= link_to 'Панель администратора', admin_path
%ul.tree 
  %li
    = link_to('Заказы', orders_path)
  %li
    = link_to('Товары', products_path)
  %li 
    = link_to('Корзины', carts_path)
  %li 
    = link_to('Пользователи', users_path)
  %br
  %li= link_to('Выход', logout_path, method: :delete)