.bottom_panel
  - unless controller_name == 'carts'
    #cart_block
      #cart_panel{ :style => 'display: none;' }
        - if @cart
          = render('shared/cart', cart: @cart)
      = link_to(url_for(@cart), remote: true, :class => 'cart_link') do
        %span#cart_title Корзина
        #item_counter
          = render('shared/counter')
      %span.grand_total= render('shared/grand_total')
      = button_to('Заказать', new_order_path, :class => 'order primary_button', method: :get) if controller_name != 'orders'
  
  #time= DateTime.now.to_formatted_s(format = :db)