- if @cart.line_items.empty?
  %strong Ваша корзина пуста
- else
  - if controller_name != 'carts'
    %h4= link_to('Перейти в корзину', cart_path, id: 'cart_link')
  - lis = @cart.line_items.page(params[:li_page])
  %table.item_table
    %colgroup 
      %col{width: '10%'}
      %col{width: '50%'}
      %col{width: '35%'}
      %col{width: '5%'}
    = render(partial: 'line_items/line_item', collection: lis, controller: 'line_item')
    %tfoot
      %td{colspan: 2} Итого
      %td.grand_total.right= render('shared/grand_total')
      %td
      %td.clear_cart= button_to('×', cart_path, method: :delete, data: { confirm: 'Вы уверены?' }, remote: true)
  = paginate(lis, param_name: 'li_page', remote: true, params: {controller: 'line_items', action: 'index'})
= content_tag :div, '×', id: 'close_cart', class: 'close' unless controller_name == 'carts'
-# = link_to('Изменить', edit_cart_path(cart))
-# \|
-# = link_to('Назад', carts_path)

-# if flash[:merge_carts?]
-# #merge_carts
-#   %p= flash[:merge_carts?]
-#   = link_to 'Да, добавить', merge_yes_path
-#   = link_to 'Нет, удалить старую', merge_no_path