%ul= menu_item(true, 'Панель управления')
%ul.child
  %li= menu_item(can?(:index, Order), 'Заказы', orders_path)
  %li= menu_item(can?(:index, Cart), 'Корзины', carts_path)
  %li= menu_item(can?(:manage, Product), 'Товары', products_path)
  %li= menu_item(can?(:manage, User), 'Пользователи', users_path)
  %li= menu_item(can?(:manage, @article), 'Статьи', articles_path)
  %li= menu_item(can?(:manage, MenuItem), 'Меню', menu_items_path)