%ul= menu_item('Панель управления')
%ul.child
  = menu_item('Заказы', admin_orders_path, can?(:index, Order))
  = menu_item('Корзины', admin_carts_path, can?(:index, Cart))
  = menu_item('Товары', admin_products_path, can?(:manage, Product))
  = menu_item('Пользователи', admin_users_path, can?(:manage, User))
  = menu_item('Статьи', admin_articles_path, can?(:manage, @article))
  = menu_item('Меню', admin_menu_items_path, can?(:manage, MenuItem))
  = menu_item('Рассылки', admin_mailers_path, can?(:manage, Mailer))
  = menu_item('Обновление', force_update_path, can?(:force_update, Product))