%ul= menu_item(true, 'Панель управления')
%ul.child
  %li= menu_item(can?(:index, Order), 'Заказы', admin_orders_path)
  %li= menu_item(can?(:index, Cart), 'Корзины', admin_carts_path)
  %li= menu_item(can?(:manage, Product), 'Товары', admin_products_path)
  %li= menu_item(can?(:manage, User), 'Пользователи', admin_users_path)
  %li= menu_item(can?(:manage, @article), 'Статьи', admin_articles_path)
  %li= menu_item(can?(:manage, MenuItem), 'Меню', admin_menu_items_path)