#header
  - cache 'header' do
    .banner{role: 'banner'}
      #logo= link_to image_tag('logo.png', {id: 'logo_img', alt: 'logo'}), store_path, {title: 'Каталог'}
      #left_header_part
        = link_to t('default_title'), store_path, id: 'title'
        %br
        %p Интернет-магазин товаров для аквариумов, прудов и террариумов
        #phone_number
          = image_tag 'phone.png'
          %span{itemprop: "telephone"}
            %a.phone_number{href: "#{ (request.user_agent =~ /Mobile|webOS/) ? 'tel' : 'callto' }:#{t('phone1').gsub(/[\(\)\-\s]/, '')}"}= t('phone1')
            %br/
            %a.phone_number{href: "#{ (request.user_agent =~ /Mobile|webOS/) ? 'tel' : 'callto' }:#{t('phone2').gsub(/[\(\)\-\s]/, '')}"}= t('phone2')
    #under_development
  #right_header_part
    #enter_form
      - if user_signed_in?
        = link_to user_root_path, class: 'btn btn-link' do
          Личный кабинет
          %br/ 
          %small= current_user.email
        = link_to 'Выйти', logout_path, method: :delete, class: 'btn btn-link'
      - else
        = render "shared/login_form"
  #top_menu_wrapper
    %nav#top_menu
      = render 'shared/menu_top'
