#header.container-fluid
  .row
    .banner.col-sm-12.col-md-6{role: 'banner'}
      -# #logo= link_to image_tag('logo.png', {id: 'logo_img', alt: 'logo'}), store_path, {title: 'Каталог'}
      #left_header_part
        = link_to t('store_name'), store_path, id: 'title'
        %br
        %p= t('store_description')

    .col-sm-12.col-md-6#enter_form
      - if user_signed_in?
        = link_to user_root_path, class: 'btn btn-link' do
          Личный кабинет
          %br/ 
          %small= current_user.email
        = link_to 'Выйти', logout_path, class: 'btn btn-link'
      - else
        = render "shared/login_form"
  .row
    .col-sm-12.col-md-4
      #phone_number
        = image_tag 'phone.png'
        %p
          = t('phone1')
          %br/
          = t('phone2')
          %br/
          = t('phone3')
%nav#top_menu
  = render 'shared/menu_top'
