%ul.parent
  
  - if current_user.try :role?
    %li
      %span.btn.btn-gray Панель управления
      %ul.child
        - if can?(:manage, Order)
          %li= link_to('Заказы', orders_path)
          %li= link_to('Корзины', carts_path)
        - if can?(:manage, Product)
          %li= link_to('Товары', products_path)
        - if can?(:manage, User)
          %li= link_to('Пользователи', users_path)
        - if can?(:manage, @article)
          %li= link_to('Статьи', articles_path)
  %li= link_to 'Каталог', store_path, class: 'btn btn-gray'
  %li= link_to 'О нас', '/about_us', class: 'btn btn-gray'
  %li= link_to 'Контакты', store_path, class: 'btn btn-gray'
  %li
    = link_to 'Помощь', store_path, class: 'btn btn-gray'
    %ul.child
      %li= link_to 'Оплата', store_path
      %li= link_to 'Как получить', store_path
      %li= link_to 'Гарантия', store_path
  %li= link_to 'Отзывы и пожелания', store_path, class: 'btn btn-gray'
