- cache do
  %ul.parent
    %li= link_to 'Каталог', store_path
    %li= link_to 'О нас', store_path
    %li= link_to 'Контакты', store_path
    %li
      = link_to 'Помощь', store_path
      %ul.child
        %li= link_to 'Оплата', store_path
        %li= link_to 'Доставка', store_path
        %li= link_to 'Гарантия', store_path
    %li= link_to 'Отзывы и пожелания', store_path