.rating
  .current{style: "width: #{(product.rating || 0)/5*160}px"}
  .vote
    - 1.upto(5) do |i|
      = link_to '', vote_product_path(product, points: i), title: "Оценить на #{i}", class: "rate_#{i}", remote: true
    .vote_bg
  .rating_counter
    = "(#{product.rating_counter || 0})"