- if ['Отменён','Не определён'].include? order.state?
  = link_to "☐", repeat_order_path(order), data: { :confirm => "Вы уверены что хотите повторить заказ №#{order.id}?", remote: true, disable_with: '⚪' }, class: 'bold btn btn-link btn-lg', title: 'Повторить заказ', style: 'color: blue;'
  - if (@controller == 'orders') && (can? :destroy, Order)
    = link_to "☒", order_path(order), method: 'DELETE', data: { :confirm => "Вы уверены что хотите удалить заказ №#{order.id}?", remote: true, disable_with: '⚪' }, class: 'bold btn btn-link btn-lg', title: 'Удалить заказ', style: 'color: red;'
- else
  - if (@controller == 'orders') && !(order.confirmed?) && (can? :confirm, Order)
    = link_to "☑", confirm_order_path(order.id, order.token), data: { confirm: "Вы уверены что хотите подтвердить заказ №#{order.id}?", remote: true, disable_with: '⚪' }, class: 'bold btn btn-link btn-lg', title: 'Подтвердить заказ', style: 'color: green;'
  = link_to "☒", cancel_order_path(order), data: { :confirm => 'Вы уверены что хотите отменить заказ?', remote: true, disable_with: '⚪' }, class: 'bold btn btn-link btn-lg', title: 'Отменить заказ', style: 'color: orange;'