$('#alert').html("#{ j render 'shared/bootstrap_alerts' }")
order = $(".#{@order.id}order")
order.find('.state').text("#{ @order.state? }").css('color', "#{@order.state.color_code}")
order.find('.actions').html("#{ j render 'orders/actions', order: @order }")

obj = $(".#{@order.id}order")
- if @order.active?
  obj.removeClass('inactive')
  obj.addClass('active')
- else
  obj.removeClass('active')
  obj.addClass('inactive')

- if action_name == 'destroy'
  order.hide('fast', function () {
  $(this).remove();
  });

- if @controller == 'users'
  clone = obj.clone()
  table = $("tbody.#{@order.active? ? 'active' : 'inactive'}")
  table.find('.none').remove()
  obj.fadeOut('fast', function () { $(this).remove() })
  table.append(clone)