.container-fluid
  %h1.underlined Список заказов

  = form_tag({action: :destroy}, {method: :delete, class: 'row'}) do
    .col-sm-12.col-lg-10
      %table.table
        %thead
          %tr
            %th ID
            %th Дата
            %th Товары
            %th.right Сумма
            %th.center Статус
            - if can? :manage, Order
              %th 
        %tbody
          - @orders.each do |order|
            %tr{class: "#{order.id}order #{order.state.active? ? 'active' : 'inactive'}"}
              = render order

    .col-lg-2
      = submit_tag 'Удалить'
