%h1 Список заказов

%table.table
  %thead
    %tr
      %th Имя
      %th Адрес
      %th Email
      %th Способ оплаты
      - if can? :manage, Order
        %th Действия
      %th Дата доставки

  - @orders.each do |order|
    %tr
      %td= link_to(order.name, order)
      %td= order.address
      %td= mail_to order.email
      %td.center= order.pay_type
      - if can? :manage, Order
        %td
          = link_to 'Открыть', order
          = link_to 'Изменить', edit_order_path(order)
          = link_to 'Удалить', order, :method => :delete, :data => { :confirm => 'Уверены?' }
      %td.center= order.shipping_date
