= flash[:order_created]

.container-fluid.carts
  %h1= "Заказ номер #{@order.id}"
  .row
    .col-xs-12.col-lg-8
      = paginate @line_items if @line_items
  .row
    .col-xs-12.col-lg-8= render "carts/line_items"
  .row.total
    .col-xs-6.col-lg-4.items
      Всего товаров в заказе: 
      %span= @order.line_items.count
    .col-xs-6.col-lg-4.right.grand-total
      Итого: 
      %span= number_to_currency @order.total_price
    
  .row
    .col-xs-12.col-lg-4
    .col-xs-12.col-lg-4.right

  .row
    .col-xs-12.col-lg-8
      = paginate @line_items if @line_items