.container-fluid
  .row
    .col-xs12.col-lg-8
      .row
        = paginate @line_items if @line_items
      .row
        = render "carts/line_items"
      .row.total
        .col-xs-12.col-lg-6.items
          Всего товаров:
          %span= @line_items.length
        .col-xs-12.col-lg-6.right.grand-total
          Итого:
          %span= number_to_currency @cart.total_price
      - if user_signed_in?
        .row.discount
          .col-xs-12.col-lg-6.items
            Ваша скидка:
            %span= "#{@cart.user.try(:discount).to_i}%"
          .col-xs-12.col-lg-6.right.grand-total
            Итого cо скидкой: 
            %span= number_to_currency @cart.discount_price

    .col-xs12.col-lg-4
      .form-group
        #add_new
          %h4 Добавить товар по артикулу
          = form_tag add_by_item_path(@cart.id), class: 'form-inline' do
            = text_field_tag 'item', '', placeholder: 'Артикул', class: 'form-control'
            = text_field_tag 'qt', '1', placeholder: 'Количество', class: 'form-control'
            = submit_tag 'Добавить', class: 'btn btn-primary'