- @line_items.each do |li|
  .product.line-item{id: li.product.permalink}
    = render 'shared/image', product: li.product, size: 'sm r'
    .description
      %h5= link_to_product li.product
      %p= li.product.long_name
    .info_table
      = render(partial: "#{(['edit', 'new'].include?(action_name) || controller_name == 'carts') ? 'carts' : 'orders'}/info_table", locals: {li: li})
