.container-fluid
  %h1
    Ваша корзина
    = link_to 'Список корзин', carts_path

  = render 'carts/cart'

  .row
    .col-xs-12.col-lg-4= button_to('Очистить корзину', cart_path, method: :delete, data: {confirm: 'Вы уверены, что хотите убрать все товары из корзины?'}, class: 'btn btn-default', autocomplete: 'off')
    .col-xs-12.col-lg-4.right= button_to('Оформить заказ', new_order_path, method: :get, class:  'btn btn-danger', autocomplete: 'off')

  .row
    .col-xs-12.col-lg-8
      = paginate @line_items if @line_items