.container-fluid
  %h1 Ваша корзина
  .row
    .col-xs-12.col-lg-8
      = paginate @line_items if @line_items
  .row
    .col-xs-12.col-lg-8= render "line_items"
  .row.total
    .col-xs-6.col-lg-4.items
      Всего товаров в корзине: 
      %span= @cart.line_items.count
    .col-xs-6.col-lg-4.right.grand-total
      Итого: 
      %span= number_to_currency @cart.total_price
    
  .row
    .col-xs-12.col-lg-4= button_to('Очистить корзину', cart_path, method: :delete, data: {confirm: 'Вы уверены, что хотите убрать все товары из корзины?'}, class: 'btn btn-default', autocomplete: 'off')
    .col-xs-12.col-lg-4.right= button_to('Оформить заказ', new_order_path, method: :get, class:  'btn btn-danger', autocomplete: 'off')

  .row
    .col-xs-12.col-lg-8
      = paginate @line_items if @line_items