- query = [params[:q], params[:q].try(:parameterize)].select(&:present?)

.product_card.container-fluid{id: @product.permalink, itemscope: true, itemtype: 'http://schema.org/Product'}
  .row
    .image.col-md-3
      = render 'shared/image', product: @product, size: 'r'
      .thumbnails
        - @product.images.each do |i|
          .thumb= link_to image_tag(i.thumbnail_url), i.original_url, data: {remote: i.medium_url}

    .right_panel.pull-right.col-md-3
      %p.price{itemprop: 'offers', itemscope: true, itemtype: 'http://schema.org/Offer'}
        %span{itemprop: 'price'}= number_to_currency @product.price
        %br/ 
        %small= "за 1 #{@product.storages.first.unit}."
      %p.item
        Артикул:
        = @product.item
      %p
        Производитель:
        %span{itemprop: 'manufacturer'}= @product.producer
      .rating_wrapper= render 'shared/rating', product: @product
      .pull-right= render 'shared/add_to_cart', product: @product

    .text_block.col-md-6
      %h3
        %span{itemprop: 'name'}= highlight(@product.title, query)
        = link_to 'Изменить', edit_product_path(id: @product.permalink), class: 'btn btn-default pull-right'

      %p{itemprop: 'description'}
        = highlight(@product.desc, query)

        = render 'properties_table'

  - if can? :manage, Product
    %table.table
      %colgroup 
        %col{width: '30%'}/ 
        %col{width: '70%'}/ 
      %tr
        %td
          %strong html-описание:
        %td= yield :description
      %tr
        %td
          %strong Ключевые слова:
        %td= yield :keywords
