.entry.container-fluid{id: product.permalink, itemscope: true, itemtype: 'http://schema.org/Product'}
  - query ||= nil
  =# link_to image_tag(image_thumb_helper(product), alt: product.permalink), product
  .head.row
    %h3.col-sm-6.col-lg-8
      -# link_to_product product, html_options = {}, query = nil <-application_helper
      = link_to_product product, {target: '_blank', itemprop: 'name url'}, query

      - if user_signed_in?
        .add_to_bookmarks
          = render 'products/add_to_bookmarks', product: product

    .rating_wrapper.right.col-sm-3.col-lg-2= render 'shared/rating', product: product

    .price.right.pull-right.col-sm-3.col-lg-2{itemprop: 'offers', itemscope: true, itemtype: 'http://schema.org/Offer'}
      Цена: 
      %span{itemprop: 'price'}= number_to_currency(product.price)

  .product.row
    - cache_if (action_name != 'search'), product do
      - @product = product
      = render 'shared/image', product: product
      .description
        %p{itemprop: 'description'}
          = highlight(sanitize(product.long_name).truncate(350, separator: '.', omission: '...'), query)
        %p
          Артикул:
          = highlight product.item || '', query
        - if product.values.any?
          .product_properties
            = link_to '+ Характеристики', product_path(product.permalink), remote: true, class: 'properties_header btn btn-link'
            .properties_table
              = render 'products/properties_table'
    .right_panel
      %p.manufacturer
        Производитель:
        = link_to(highlight(product.producer || '', query), params.merge('producer' => product.producer), itemprop: 'manufacturer')
      = render 'shared/add_to_cart', product: product
