- query = [params[:q], params[:q].try(:parameterize)].select(&:present?)

.product_card.container-fluid{id: @product.permalink}
  .row
    .image.col-md-3
      = render 'shared/image', product: @product, size: 'r'
      .thumbnails
        - @product.images.each do |i|
          .thumb= link_to image_tag(i.thumbnail_url), i.original_url, data: {remote: i.medium_url}

    .text_block.col-md-6
      %h3
        = highlight(@product.title, query)

      %p
        = highlight(@product.desc, query)

      %table.table.properties
        %colgroup
          %col{width: '50%'}
          %col{width: '50%'}
        - @product.values.each do |val|
          - title = val.property.title.split(',')
          %tr
            %td.bold= title[0]
            %td= val.title + "#{title[1]}"

    .right_panel.col-md-3
      %p.price= number_to_currency @product.price
      .rating_wrapper= render 'shared/rating', product: @product
      = render 'shared/add_to_cart', product: @product

  - if can? :manage, Product
    %table
      %tr
        %td
          %strong Ключевые слова:&nbsp;
          %td= yield :keywords
      %tr
        %td
          %strong Описание:
          %td= yield :description

    = link_to('Изменить', edit_product_path(id: @product.permalink), class: 'btn btn-default pull-right')