- if notice
  %p#notice= notice

- @page_title = @product.title
- group = @product.group

%p= link_to group.title, group_path(group) + '#' + @product.permalink

.image= render 'shared/image', product: @product

.right_panel
  %p.price= number_to_currency @product.price
  .rating_wrapper= render 'shared/rating', product: @product
  = render 'shared/add_to_cart', product: @product

.text_block
  %h2
    = @product.title

  %p
    - if @product.description == '.'
      = @product.long_name
    - else
      = @product.description

- if session[:user_id] && User.find(session[:user_id]).user_group == 'admin'
  = link_to('Изменить', edit_product_path(@product))