- if notice
  %p#notice= notice

- @page_title = @product.title
- content_for :description, @product.long_name
- content_for :keywords, @product.long_name.split(' ')
- group = @product.group

#breadcrumbs
  = link_to 'Каталог', store_path
  >
  = link_to (parent = group.parent).title, group_path(parent)
  >
  = link_to group.title, group_path(group, anchor: @product.permalink)

#product_card
  .image= render 'shared/image', product: @product

  .text_block
    %h2
      = @product.title

    %p
      - if @product.description == '.'
        = @product.long_name
      - else
        = @product.description

  .right_panel
    %p.price= number_to_currency @product.price
    .rating_wrapper= render 'shared/rating', product: @product
    = render 'shared/add_to_cart', product: @product

- if session[:user_id] && User.find(session[:user_id]).user_group == 'admin'
  = link_to('Изменить', edit_product_path(@product))