.container-fluid
  .row
    .col-lg-2.col-md-3.col-sm-3.col-xs-7#side
      = render 'shared/menu_side'
      - if @products
        #filters
          = render 'shared/filter'
    .col-lg-10.col-md-9.col-sm-9.col-xs-12#main
      %h1.underlined
        - if action_name == 'search'
          = "Поиск: #{params[:q] || ''}"
        - else
          = t('.title')

      .control
        = render 'shared/control'

      #product_index
        = render 'store/product_index'

      #loading
        #notification
          = image_tag 'loading.gif', alt: 'loading', id: 'loading_gif'
          %p Идёт загрузка, пожалуйста подождите

      -#   = link_to_previous_page @products, '<< Назад', class: 'pull-left btn btn-default'
      -#   = link_to_next_page @products, 'Далее >>', class: 'pull-right btn btn-default'