// Еcли вы это видите, перезагрузите страницу

- if params[:next]
  $('#product_index').append("#{j render('store/product_index')}")

- else
  $('#product_index').html("#{products = (j(render('store/product_index') || '<p class=warning>Позиций, удовлетворяющих критериям поиска не найдено.</p>'.html_safe))}");
  $('.control').html("#{j render 'shared/control'}")
  $('#minPrice').attr('placeholder', "#{@products_min}").val("#{@min_price if params[:minPrice]}")
  $('#maxPrice').attr('placeholder', "#{@products_max}").val("#{@max_price if params[:maxPrice]}")

$('.bottom_control').html("#{j render('store/more_products')}")