.container-fluid
  .row
    #side.col-lg-2.col-md-3.col-sm-3.col-xs-7
      = render 'shared/menu_side'
      - if @products
        #filters
          = render 'shared/filter'
    #main.col-lg-10.col-md-9.col-sm-9.col-xs-12
      %h1.underlined
        - if @group
          #breadcrumb
            = link_to 'Каталог', store_path
            &rarr;
            - if pgroup = @group.parent
              = link_to pgroup.title, pgroup
              &rarr;
            = (@page_title = @group.try :title) || t('.title')
        - else
          - if action_name == 'search'
            = "Поиск '#{params[:q] || ''}'"
          - else
            = t('.title')

      = render 'groups/children'

      .control
        = render 'shared/control'

      #product_index
        = render 'store/product_index'
      .bottom_control= render 'store/more_products'

      #loading
        #notification
          = image_tag 'loading.gif', alt: 'loading', id: 'loading_gif'
          %p Идёт загрузка, пожалуйста подождите


      -#   = link_to_previous_page @products, '<< Назад', class: 'pull-left btn btn-default'
      -#   = link_to_next_page @products, 'Далее >>', class: 'pull-right btn btn-default'