!!! 5 utf-8
%html
  %head
    %title= page_title # Application helper
    %meta{name: 'description', content: (yield(:description).presence || t(:default_description))}
    %meta{name: 'keywords', content: (yield(:keywords).presence || t(:default_keywords))}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = jquery_include_tag :google
    = javascript_include_tag "application", "data-turbolinks-track" => true, defer: true
    %noscript
      :css
        #side nav.menu_side>ul {
          display: block;
        }
    = csrf_meta_tags
      
  %body{class: "#{controller_name} #{action_name}", id: 'top'}
    #form.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
          %button.close{data: {dismiss: 'modal'}} &times;

    #error_wrapper
      #error{style: (error = flash[:error] || alert) ? nil : 'display: none'}
        = error

    %header#header_wrapper
      = render 'shared/header'

    %main#content{role: 'main'}
      - if message = flash[:warning] || notice
        .alert.alert-warning.alert-dismissable
          %button.close{type: 'button', data: {dismiss: 'alert'}, "aria-hidden" => 'true'} &times;
          = message
      = yield

    = render 'shared/metrika.html'

    = render 'shared/bottom_panel'
    %footer