!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: (yield(:description).presence || t(:default_description))}
    %meta{name: 'keywords', content: (yield(:keywords).presence || t(:default_keywords))}
    %title= page_title # Application helper
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = jquery_include_tag :google, defer: true
    = javascript_include_tag "application", "data-turbolinks-track" => true, defer: true
    %noscript
      :css
        #side nav.menu_side>ul {
          display: block;
        }

        #filters .body {
          display: block;
        }

        #filters .toggle_text {
          display: none;
        }

        .no_js {
          display: block;
        }
    = csrf_meta_tags

  %body{class: "#{controller_name} #{action_name}", id: 'top'}
    #form.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
          %button.close{data: {dismiss: 'modal'}} &times;

    #error_wrapper
      - test_message = t(:message).presence
      #error{style: (error = flash[:error] || alert || test_message) ? nil : 'display: none'}
        = error
      #etw
        #error_tag.toggle_text{'data-sub-text' => "▲", style: (error = flash[:error] || alert || test_message) ? nil : 'display: none'} ▼

    %header#header_wrapper
      = render 'shared/header'

    %main#content.container-fluid{role: 'main'}
      .row
        #alert= render 'shared/bootstrap_alerts'
        = yield

    = render 'shared/metrika.html'

    = render 'shared/bottom_panel'
    %footer