!!! 5 utf-8
- @app_name = 'FishMarkt'
%html
  %head
    %title= page_title # Application helper
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true, defer: true
    = csrf_meta_tags
      
  %body{class: controller_name + ' ' + action_name}
    #error_wrapper
      #error
        = notice || ''
    #header_wrapper
      = render 'shared/header'

    #content
      #side
        #tree
          .show_hide_tree Каталог
          = render 'shared/menu_side'
        - if @products
          #filters
            = render 'shared/filter'
      #main= yield
    #dummy

    = render 'shared/bottom_panel'
    %footer