!!! 5 utf-8
- @app_name = 'FishMarkt'
%html
  %head
    %title= page_title # Application helper
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
      
  %body{class: controller_name + ' ' + action_name}
    #error_wrapper
      #error
    #header_wrapper
      #header
        #logo= image_tag 'logo.jpg'
        = link_to @app_name, store_path, id: 'title'
        #phone_number
          = image_tag('phone.png')
          %span 
            +7 (800) XXX-XX-XX
            %br/ 
            +7 (900) XXX-XX-XX
        
        #enter_form
          = form_tag login_path do
            = label_tag :name, 'Имя:'
            = text_field_tag :name, params[:name]
            = label_tag :password, 'Пароль:'
            = password_field_tag :password, params[:password]
            = submit_tag 'Войти'
            = link_to 'Регистрация', new_user_path

          %nav#top_menu
            = render 'shared/menu_top'

    #content
      #side
        #tree
          .show_hide_tree Каталог
          = render 'shared/menu_side'
        - if @products
          #filters
            = render 'shared/filter'
      #main= yield
    #dummy

    = render 'shared/bottom_panel'
    %footer