!!! 5 utf-8
%html
  %head
    %title= page_title # Application helper
    %meta{name: 'description', content: (yield(:description) || t(:default_description))}
    %meta{name: 'keywords', content: (yield(:keywords) || t(:default_keywords))}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true, defer: true
    = csrf_meta_tags
      
  %body{class: controller_name + ' ' + action_name}
    #error_wrapper
      #error{style: notice ? nil : 'display: none'}
        = notice || ''

    #header_wrapper
      = render 'shared/header'

    #content
      - if controller_name == 'products' && action_name == 'show'
        = yield
      - else
        #side
          = render 'shared/menu_side'
          - if @products
            #filters
              = render 'shared/filter'
        #main= yield
    = render 'shared/metrika.html'
    #dummy

    = render 'shared/bottom_panel'
    %footer