!!! 5 utf-8
- @app_name = 'FishMarkt'
%html
  %head
    %title= page_title
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  
  %div#banner
    #logo= image_tag('logo.jpg')
    #phone_number
      = image_tag('phone.png')
      %span 
        +7 (812) 449-79-26
        %br/ 
        +7 (901) 317-17-87
    #title{style: "width: #{(@title.length).to_s}em"}= @app_name

  %body{class: controller_name + ' ' + action_name}
    #columns
      #side
        = render 'shared/side_nav'
      #main= yield
    #dummy

    = render('shared/bottom_panel')
    %footer