!!! 5 utf-8
%html
  %head
    %title= page_title # Application helper
    %meta{name: 'description', content: yield(:description)}
    %meta{name: 'keywords', content: yield(:keywords)}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true, defer: true
    = csrf_meta_tags
      
  %body{class: controller_name + ' ' + action_name}
    #error_wrapper
      #error
        = notice || ''

    - cache 'header' do
      #header_wrapper
        = render 'shared/header'

    #content
      - if controller_name == 'products'
        = yield
      - else
        #side
          - cache 'show_hide_tree' do
            #tree
              .show_hide_tree{'data-no-transition-cache' => true} ▼ Каталог ▼
              = render 'shared/menu_side'
          - if @products
            - cache 'filters' do
              #filters
                = render 'shared/filter'
        #main= yield

    = render 'shared/metrika.html'
    #dummy

    = render 'shared/bottom_panel'
    %footer