!!! 5 utf-8
- @app_name = 'FishMarkt'
%html
  %head
    %title= page_title # Application helper
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
      
  %body{class: controller_name + ' ' + action_name}
    #error_wrapper
      #error
    #header_wrapper
      = render 'shared/header'

    #content
      #product_card= yield

    #dummy
    = render 'shared/bottom_panel'
    
    %footer